DEBUG=*
ANCHOR_WALLET=/Users/lbelyaev/.config/solana/id.json
USER_WALLET=/Users/lbelyaev/.config/solana/id.json
# ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
# ANCHOR_PROVIDER_URL=http://127.0.0.1:8899

# xolana
ANCHOR_PROVIDER_URL=http://69.10.34.226:8899

PROGRAM_ID_MINTER=3JSyo6R489DcXedDYQUY7XbGXsmCz4mQH7sWeK5VE8vA

MINERS=Ahhm8H2g6vJ5K4KDLp8C9QNH6vvTft1J3NmUst3jeVvW,joPznefcUrbGq1sQ8ztxVSY7aeUUrTQmdTbmKuRkn8J,9kDwKaJFDsE152eBJGnv6e4cK4PgCGFvw6u6NTAiUroG,BSgU8KC6yNbany2cfPvYSHDVXNVxHgQAuifTSeo2kD99

