DEBUG=*
ANCHOR_WALLET=/Users/lbelyaev/.config/solana/id.json
USER_WALLET=/Users/lbelyaev/.config/solana/id.json
# ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
# ANCHOR_PROVIDER_URL=http://127.0.0.1:8899

# xolana
ANCHOR_PROVIDER_URL=http://69.10.34.226:8899

PROGRAM_ID_MINTER=8HTvrqZT1JP279DMLT5SfNfGHxUeznem4Bh7zy92sWWx

MINERS=H4Nk2SDQncEv5Cc6GAbradB4WLrHn7pi9VByFL9zYZcA,58UESDt7K7GqutuHBYRuskSgX6XoFe8HXjwrAtyeDULM,B1Dw79PE8dzpHPKjiQ8HYUBZ995hL1U32bUTRdNVtRbr,7ukQWD7UqoC61eATrBMrdfMrJMUuY1wuPTk4m4noZpsH

